{% extends "layout.html" %}
  {% block content %}
  <div style="overflow-x:auto;">
    <br><br>
  <table calss="tabe" >
    <tr class="th"><th>sno</th><th>uname</th><th>mobile</th><th>email</th><th>Add/Remove</th></tr>  
    {% for d in l %}
      <tr class="tab">
      <td class="tab">{{d.sno}}</td>
      <td class="tab">{{d.uname}}</td>
      <td class="tab">{{d.phno}}</td>
      <td class="tab">{{d.email}}</td>
      <td>
              <a href="/delet/{{ d.sno}}" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
              <a href="/upuser/{{ d.sno}}">update</a>
              </td>
      </tr>
      {% endfor %}
  </table>
</div>
  {% endblock content %}