{% extends "layout.html" %}
  {% block content %}
  <div clsas="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div>
                <table>
                    <td>please enter serial number of the user: {{ form.snoo}}</td>
                </table>
               
            </div>
        </fieldset>
        <div>
            {{form.Remove}}
        </div>
    </form>
    <div>
        <small>
                abort? <a href="{{url_for('hello_name')}}"> clicl here </a>
        </small>
    </div>
  </div>
  
  {% endblock content %}