{% extends "layout.html" %}
  {% block content %}
  <div clsas="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div>
                <table style="padding:30px">
                    <td>Id: {{ form.sno}}</td>
                    <td>name: {{ form.uname}}</td>
                    <td>email: {{ form.email}}</td>
                    <td>phno: {{ form.phno}}</td>
                </table>
               
            </div>
        </fieldset>
        <div>
            {{form.update}}
        </div>
    </form>
    <div>
        <small>
                abort? <a href="{{url_for('hello_name')}}"> clicl here </a>
        </small>
    </div>
  </div>
  
  {% endblock content %}